@model Matsusanity.ViewModels.CreatePersonalTrainerViewModel

@{
    ViewData["Title"] = "CreatePersonalTrainerView";
}

<h1>CreatePersonalTrainerView</h1>

<h4>PersonalTrainer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePersonalTrainerView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PersonalTrainer.FirstName" class="control-label">First Name</label>
                <input asp-for="PersonalTrainer.FirstName" class="form-control" />
                <span asp-validation-for="PersonalTrainer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalTrainer.LastName" class="control-label">Last Name</label>
                <input asp-for="PersonalTrainer.LastName" class="form-control" />
                <span asp-validation-for="PersonalTrainer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUser.Email" class="control-label">Email</label>
                <input asp-for="IdentityUser.Email" class="form-control" />
                <span asp-validation-for="IdentityUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUser.PasswordHash" class="control-label">Password</label>
                <input asp-for="IdentityUser.PasswordHash" class="form-control" />
                <span asp-validation-for="IdentityUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
