<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Matsusanity</title>

</head>

<body>
    <p>
        <a asp-action="CreatePersonalTrainerView">Add Personal Trainer</a>
        <a asp-action="CreateWorkoutPlan">Create Workout Plan</a>
        <a asp-action="EditActivePlans">Edit Active Plans</a>
    </p>


</body>
</html>