@model Matsusanity.Models.Client

<html>
<head>
    @{
        ViewData["Title"] = "Index";
    }
    <link rel="stylesheet" href="~/css/Clients.css" />
</head>
<body>

    <div class="sidenav">
        <a asp-action="Edit" asp-route-id="@Model.Id">Update Account Information</a>
        <a asp-action="ContactPersonalTrainer" asp-route-id="@Model.Id">Contact Personal Trainer</a>
    </div>





</body>
</html> 