@model Matsusanity.Models.Client

<html>
<head>
    @{
        ViewData["Title"] = "Index";
    }

    <meta charset='utf-8' />
    <link rel="stylesheet" href="~/css/Clients.css" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css' rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css' rel='stylesheet' />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                defaultView: 'timeGridDay',
                header: { left: 'prev,next today', center: 'title', right: 'dayGridMonth,timeGridWeek,timeGridDay' },
                events: '@Url.RouteUrl(new { action="GetEvents", controller="Clients" })'
            });
            calendar.render();
        });
    </script>
    

</head>


<body>

    <div class="sidenav">
        <a asp-action="Edit" asp-route-id="@Model.Id">Update Account Information</a>
        <a asp-action="ContactPersonalTrainer" asp-route-id="@Model.Id">Contact Personal Trainer</a>
    </div>

    <div id='calendar'></div>

</body>
</html> 