@model Matsusanity.ViewModels.Workout_Calendar_ViewModel

@{
    ViewData["Title"] = "AddWorkoutToPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Workout To Plan</h1>

<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWorkoutToPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CalendarPlanWorkout.Title" class="control-label"></label>
                <input asp-for="CalendarPlanWorkout.Title" class="form-control" />
                <span asp-validation-for="CalendarPlanWorkout.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarPlanWorkout.Description" class="control-label"></label>
                <input asp-for="CalendarPlanWorkout.Description" class="form-control" />
                <span asp-validation-for="CalendarPlanWorkout.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendarPlanWorkout.Start" class="control-label"></label>
                <input asp-for="CalendarPlanWorkout.Start" class="form-control" />
                <span asp-validation-for="CalendarPlanWorkout.Start" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Workout.ExerciseOne" class="control-label"></label>
                <input asp-for="Workout.ExerciseOne" class="form-control" />
                <span asp-validation-for="Workout.ExerciseOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.RepsOne" class="control-label"></label>
                <input asp-for="Workout.RepsOne" class="form-control" />
                <span asp-validation-for="Workout.RepsOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.SetsOne" class="control-label"></label>
                <input asp-for="Workout.SetsOne" class="form-control" />
                <span asp-validation-for="Workout.SetsOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.WeightOne" class="control-label"></label>
                <input asp-for="Workout.WeightOne" class="form-control" />
                <span asp-validation-for="Workout.WeightOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.ExerciseTwo" class="control-label"></label>
                <input asp-for="Workout.ExerciseTwo" class="form-control" />
                <span asp-validation-for="Workout.ExerciseTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.RepsTwo" class="control-label"></label>
                <input asp-for="Workout.RepsTwo" class="form-control" />
                <span asp-validation-for="Workout.RepsTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.SetsTwo" class="control-label"></label>
                <input asp-for="Workout.SetsTwo" class="form-control" />
                <span asp-validation-for="Workout.SetsTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.WeightTwo" class="control-label"></label>
                <input asp-for="Workout.WeightTwo" class="form-control" />
                <span asp-validation-for="Workout.WeightTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.ExerciseThree" class="control-label"></label>
                <input asp-for="Workout.ExerciseThree" class="form-control" />
                <span asp-validation-for="Workout.ExerciseThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.RepsThree" class="control-label"></label>
                <input asp-for="Workout.RepsThree" class="form-control" />
                <span asp-validation-for="Workout.RepsThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.SetsThree" class="control-label"></label>
                <input asp-for="Workout.SetsThree" class="form-control" />
                <span asp-validation-for="Workout.SetsThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.WeightThree" class="control-label"></label>
                <input asp-for="Workout.WeightThree" class="form-control" />
                <span asp-validation-for="Workout.WeightThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.ExerciseFour" class="control-label"></label>
                <input asp-for="Workout.ExerciseFour" class="form-control" />
                <span asp-validation-for="Workout.ExerciseFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.RepsFour" class="control-label"></label>
                <input asp-for="Workout.RepsFour" class="form-control" />
                <span asp-validation-for="Workout.RepsFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.SetsFour" class="control-label"></label>
                <input asp-for="Workout.SetsFour" class="form-control" />
                <span asp-validation-for="Workout.SetsFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.WeightFour" class="control-label"></label>
                <input asp-for="Workout.WeightFour" class="form-control" />
                <span asp-validation-for="Workout.WeightFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.ExerciseFive" class="control-label"></label>
                <input asp-for="Workout.ExerciseFive" class="form-control" />
                <span asp-validation-for="Workout.ExerciseFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.RepsFive" class="control-label"></label>
                <input asp-for="Workout.RepsFive" class="form-control" />
                <span asp-validation-for="Workout.RepsFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.SetsFive" class="control-label"></label>
                <input asp-for="Workout.SetsFive" class="form-control" />
                <span asp-validation-for="Workout.SetsFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.WeightFive" class="control-label"></label>
                <input asp-for="Workout.WeightFive" class="form-control" />
                <span asp-validation-for="Workout.WeightFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

